.dashboard-layout {
  display: grid;
  gap: 2rem;
}

.dashboard-card {
  width: 100%;
}

.dashboard-card__body {
  padding: 2rem;
}

@media screen and (max-width: 1024px) {
  .dashboard-card__body {
    padding: 1.5rem;
  }
}
